footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h1 {
    position: relative;
    font-family: Yu Gothic UI;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #eae9ed;
  }
  
  footer h2 {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 103.5%;
    color: #4b4465;
  }
  
  footer button {
    position: relative;
    width: 178px;
    height: 56px;
  }