

  body {
  position: relative;
  background-color: red;
}

header,
main,
footer {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

header img {
  margin-left: 0px;
}


header nav a {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-inline: 20px;
  margin-right: 20px;
  text-align: right;
  text-decoration: none;
}
header nav ul {
  display: flex;
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: -5%;
}

.mid {
  display: flex;  
  height: 60vh;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.rightmain {
 max-width: 50%;
 position: relative;
}

.leftmain, .rightmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mid h1 {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;

  color: #ffffff;
}


.mid h2 {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 67%;

  letter-spacing: -0.07em;

  color: #4b4465;
}



.mid img {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  
}

.leftmain button {
  position: relative;
  margin-top: 0px;
  width: 208px;
  height: 61px;
  background: #00f582;
  border-radius: 30px;
}

footer h1 {
  position: relative;
  width: 592px;
  height: 104px;
  left: 47%;
  top: 300px;

  font-family: Yu Gothic UI;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.01em;

  color: #eae9ed;
}

footer h2 {
  position: relative;
  width: 468px;
  height: 52px;
  left: 48px;
  top: 620px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 103.5%;
  /* or 20px */

  color: blue;
}

footer button {
  position: relative;
  width: 178px;
  height: 56px;
  left: -140%;
  top: -250px;
}

.btn-pad {
  height: 0;
  border-radius: 50%;
  position: absolute;
  background-color: red;
  border: none;
  box-shadow: 0 0 20px black;
}

.pad-xl {
  width: 20%;
  padding-top: 20%;
}

.pad-sm {
  width: 16%;
  padding-bottom: 15%;
}

.pad1 {
  left: 1%;
  top:1%;
}

.pad2 {
  left: 8%;
  top: 28%;
}