@import url(./body-parts/header-style.css);

@import url(./body-parts/main-style.css);

@import url(./body-parts/footer-style.css);

/*@import url(../mobile/mobile-style.css) screen (max-width: 400px);*/

body {
    position: relative;
    background-color: #0b032c;
  }

header,
main,
footer {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
